@media (min-width: 767.98px) {
  //Small computer
  .project-box {
    position: absolute;
    top: 0;
    width: 100vw;
    min-height: 100vh;
    .arrow-left,
    .arrow-right {
      top: 50%;
    }
  }

  .info-wrapper {
    width: 80%;
    img {
      height: 2.5rem;
    }
  }
  .project-description-container {
    width: 45%;
    h1 {
      text-align: start;
    }
    .project-info {
      height: 40vh;
    }
  }
  .project-container {
    width: 55%;
    overflow: hidden;
    min-height: calc(100vh - 15rem);
    .slider {
      margin-right: 3rem;
      width: 80%;
      height: 28rem;
      .slider-control {
        bottom: 0rem;
      }
      img {
        width: 0;
        &.active {
          width: 90%;
        }
      }
    }
  }
}
@media (min-width: 1399.98px) {
  //XL computer
  .project-description-container {
    .project-info {
      p {
        font-size: 1.1rem;
      }
    }
  }
  .project-container {
    width: 55%;
    overflow: hidden;
    min-height: calc(100vh - 15rem);
    .slider {
      height: 35rem;
    }
  }

  .info-wrapper {
    width: 80%;
    img {
      height: 3rem;
    }
  }
  /*   .project-box {
    display: flex;
    position: absolute;
    width: 100vw;
    margin-top: 5rem;
    min-height: calc(100vh - 5rem);
  } */
}
@media (max-width: 767.98px) {
  //Mobile
  .projects-container {
    overflow-x: hidden;
    .project-box {
      position: absolute;
      top: 0;
      width: 100vw;
      min-height: 100vh;
      flex-direction: column;
      .project-description-container {
        width: 100%;
        gap: 2rem;
        h1 {
          text-align: center;
        }
        .project-info {
          h2 {
            text-align: center;
          }
        }
        .info-wrapper {
          align-items: center;
          flex-direction: column;
          width: 100%;
          gap: 2rem;
          img {
            height: 3rem;
          }
          .tools {
            width: 90%;
          }
        }
      }
      .project-container {
        min-height: calc(100vh - 30rem);
        margin-right: 0;
        width: 100%;
        .slider {
          margin-right: 0;
          width: 100%;
          height: 60%;
          .slider-control {
            display: none;
          }
          .swipe {
            position: absolute;
            bottom: 0;
            i {
              color: white;
              font-size: 5rem;
            }
            display: none;
          }
        }
      }
      .arrow-left,
      .arrow-right {
        top: 20%;
      }
    }
  }
}

.project-box {
  display: flex;
  min-height: calc(100vh - 5rem);
  margin-top: 5rem;
  justify-content: center;
  align-items: center;
  .project-description-container,
  .project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
  }

  .project-description-container {
    justify-content: space-evenly;
    padding: 1rem;
    h1 {
      width: 85%;
      text-align: start;
      font-size: 3rem;
      margin-bottom: 2rem;
      font-weight: bold;
    }
    & > * {
    }
    .project-info {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      width: 85%;
      h2 {
        position: relative;
        font-weight: bold;
        font-size: 2rem;
        margin-bottom: 1rem;
        &::after {
          content: "";
          position: absolute;
          bottom: -0.5rem;
          left: 0;
          width: 100%;
          height: 0.1rem;
          background-color: #fff;
        }
      }
      p {
        margin-bottom: 2rem;
      }
    }
    .info-wrapper {
      display: flex;
      img {
        cursor: pointer;
      }
      .tools {
        width: 50%;
        h3 {
          margin-bottom: 1rem;
          text-align: center;
        }
        .tools-wrapper {
          gap: 1rem;
          justify-content: center;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
        }
      }
      .links {
        width: 50%;
        h3 {
          margin-bottom: 1rem;
          text-align: center;
        }
        .links-wrapper {
          gap: 1rem;
          justify-content: center;
          display: flex;
          align-items: center;
        }
      }
    }
  }

  .project-container {
    justify-content: center;
    .slider {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      .slider-control {
        position: absolute;
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
        gap: 2rem;
        .next,
        .prev {
          background: white;
          border-radius: 50%;
          width: 3rem;
          height: 3rem;
          display: flex;
          justify-content: center;
          align-items: center;
          user-select: none;
          cursor: pointer;
          font-weight: bold;
          font-size: 2rem;
          z-index: 2;
          color: black;
        }
        .prev {
          transform: scale(-1);
        }
      }

      .refresh {
        padding: 10px;
        position: absolute;
        background: rgba(0, 0, 0, 0.4);
        border-radius: 10px;
        width: 20px;
        height: 20px;
        top: 10px;
        right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
      img {
        position: absolute;
        width: 110%;
      }
    }
  }
  .arrow-left,
  .arrow-right {
    position: absolute;
    padding: 0 1rem;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    cursor: pointer;

    font-size: 2rem;
  }
  .arrow-left {
    left: 0;
  }
  .arrow-right {
    right: 0;
  }
}
