@media (max-width: 1399.98px) {
  //SMALL computer
  .project-description-container {
  }
}

@media (min-width: 1399.98px) {
  //XL computer
}
@media (min-width: 767.98px) {
  .info-wrapper {
    width: 70%;
  }
  .project-description-container {
    .project-info {
      height: 40vh;
    }
  }
  .project-container {
    min-height: calc(100vh - 20rem);
    .slider {
      img {
        width: 0;
        &.active {
          width: 90%;
        }
      }
    }
    .slider-control {
      margin-right: 2rem;
    }
  }
}
@media (max-width: 767.98px) {
  //Mobile

  .project-description-container {
    .info-wrapper {
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }
    .project-info {
      h2 {
        text-align: center;
      }
    }
  }
  .arrow-left,
  .arrow-right {
    top: 30%;
  }
  .project-container {
    gap: 1rem;
    .slider {
      img {
        width: 0;
        &.active {
          width: 100%;
        }
      }
    }
    .slider-control {
    }
  }
}

.projects-container {
  .project-description-container,
  .project-container {
    margin-top: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    color: #fff;
    flex-direction: column;
  }

  .project-description-container {
    min-height: calc(100vh - 5rem);
    justify-content: space-evenly;
    padding: 1rem;
    h1 {
      width: 70%;
      text-align: center;
      font-size: 3rem;
      margin-bottom: 2rem;
      font-weight: bold;
    }
    & > * {
    }
    .project-info {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      width: 70%;
      h2 {
        position: relative;
        font-weight: bold;
        font-size: 2rem;
        margin-bottom: 1rem;
        &::after {
          content: "";
          position: absolute;
          bottom: -0.5rem;
          left: 0;
          width: 100%;
          height: 0.1rem;
          background-color: #fff;
        }
      }
      p {
        margin-bottom: 2rem;
        font-size: 1.2rem;
      }
    }
    .info-wrapper {
      display: flex;
      .tools {
        width: 50%;
        h3 {
          margin-bottom: 1rem;
          text-align: center;
        }
        .tools-wrapper {
          gap: 1rem;
          justify-content: center;
          display: flex;
          align-items: center;
          height: 3rem;
          img {
            cursor: pointer;
            height: 3rem;
          }
        }
      }
      .links {
        width: 50%;
        h3 {
          margin-bottom: 1rem;
          text-align: center;
        }
        .links-wrapper {
          gap: 1rem;
          justify-content: center;
          display: flex;
          align-items: center;
          img {
            cursor: pointer;
            height: 3rem;
          }
        }
      }
    }
  }

  .project-container {
  
    justify-content: space-between;
    .slider {
      width: 100%;
      height: 50%;
      img {
        transition: 0.2s;
        transform-origin: right;
      }
    }
    .slider-control {
      width: 50%;
      height: 3rem;
      align-items: center;
      display: flex;
      justify-content: space-evenly;
      div {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background-color: #fff;
        cursor: pointer;
        transition: 0.5s ease-in-out;
        &.active {
          background-color: #000;
          width: 1.3rem;
          height: 1.3rem;
        }
      }
      i {
        cursor: pointer;
        font-size: 2rem;
      }
    }
    .loader {
      position: relative;
      width: 64px;
      height: 64px;
      background-color: rgba(0, 0, 0, 0.5);
      transform: rotate(45deg);
      overflow: hidden;
      &::after {
        content: "";
        position: absolute;
        inset: 8px;
        margin: auto;
        background: black;
      }
      &::before {
        content: "";
        position: absolute;
        inset: -15px;
        margin: auto;
        background: #23c483;
        animation: diamondLoader 2s linear infinite;
        @keyframes diamondLoader {
          0%,
          10% {
            transform: translate(-64px, -64px) rotate(-45deg);
          }
          90%,
          100% {
            transform: translate(0px, 0px) rotate(-45deg);
          }
        }
      }
    }
  }
  .arrow-left,
  .arrow-right {
    position: absolute;
    padding: 0 1rem;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    cursor: pointer;
    font-size: 2rem;
  }
  .arrow-left {
    left: 0;
  }
  .arrow-right {
    right: 0;
  }
}
